/* 
css visual rules 
    1. font-size
*/

.add-p-data{
    text-decoration: double;
    font-size: 25px;
    font-weight:bold;
    text-align: center;
    color:black;
    /* opacity closer to 0 is more invisible. */
    /* opacity:0.75; */
}



/*
applying a background image 

The value provided to background-image is a url. The url should be a URL to an image. 
The url can be a file within your project, or it can be a link to an external site. 
To link to an image inside an existing project, you must provide a relative file path.

*/

#man-coding-div{
    
    background-size: cover;
    background-position: center;
    border: solid 5px;
    margin:5px;
    height:700px;
    opacity: 0.95;
}


/* 

!important 
declaration is used to override 
a certain style rule.

rarely used

*/



 
/*
    visual rules

    The 'font-family' property defines the typeface of an element.

    'font-size' controls the size of text displayed.

    'font-weight' defines how thin or thick text is displayed.

    The 'text-align' property places text in the left, right, 
    or center of its parent container.

    Text can have two different color attributes: 'color' and 'background-color'. 
    color defines the color of the text, while background-color defines the color behind the text.

    CSS can make an element transparent with the 'opacity' property.

    CSS can also set the background of an element to an image with the 'background-image' property.

    The '!important' flag will override any style, however it should almost never be used, 
    as it is extremely difficult to override.



*/










